.form-block {
  display: flex;
  flex-direction: column;
}

.form-block-title {
  margin: 10px 0 10px 0;
  font-weight: 500;
}

mat-form-field {
  width: 100%;
}

.spinner {
  position: relative;
  margin: 30px;
  min-height: 80px;
}
