
<div class="main-page">
	<div class="main-page__container">
		<div class="main-page__text-block">
			<div class="main-page__section main-page-section">
				<div class="main-page-section__title">Рабочая программа дисциплины</div>
				<div class="main-page-section__body">Рабочая программа дисциплины (РПД) –
					документ, содержащий краткое описание дисциплины. Она является обязательной
					составляющей основной профессиональной образовательной программы (ОПОП) по
					направлению подготовки или специальности, обучение по которым ведется в
					Межгосударственном образовательном учреждении высшего образования
					«Белорусско-Российском университете».</div>
			</div>
			<div class="main-page__section main-page-section">
				<div class="main-page-section__title">О приложении</div>
				<div class="main-page-section__body">
					Данное приложение позволяет преподавателю заполнять шаблон рабочей
					программы дисциплины, который программно адаптируется под учебный план
					(добавляются курсовые работы либо проекты и так далее) и скачивать
					заполненный итоговый вариант в формате .docx. Заведующим кафедры данное
					приложение позволяет закреплять дисциплину за преподавателем и
					контролировать процесс ее написания.
				</div>
			</div>
		</div>

		<a routerLink="/more-information" class="main-page__button">Подробнее...</a>
	</div>
</div>
