<div class="teacher-guide-page">
    <div class="teacher-guide-page__text-block">
      <div class="teacher-guide-page__title">Как заполнять шаблон РП?</div>
      <div class="teacher-guide-page__body">
        <div class="teacher-guide-page__text">Пункты боковго меню “Цель учебной дисциплины”, ”Планируемые результаты
          изучения дисциплины”, “Место учебной дисциплины в системе подготовки студента”, “Образовательные технологии”,
          “Критерии оценки лабораторных работ”, “Критерии оценки курсового проекта / работы”, “Критерии оценки экзамена
          / зачета” ,“Перечень программного обеспечения, используемого в образовательном процессе”, “Перечень ресурсов
          сети Интернет по изучаемой дисциплине”, “Методические рекомендации” заполняются следующим образом: щелчком
          мыши нажать на строку “Данные отсутствуют” и ввести необходимые данные.
        </div>
        <div class="teacher-guide-page__text">Пункт “Содержание лекционных занятий” - нажать на кнопку добавить и
          заполнить открывшееся окно.
        </div>
        <div class="teacher-guide-page__text">Пункт “Содержание лабораторных занятий” - нажать на кнопку добавить и
          заполнить добавившуюся строку в исходной таблице.
        </div>
        <div class="teacher-guide-page__text">Для заполнения пункта “Учебно-методическая карта учебной дисциплины” нужно
          обязательно заполнить два предыдущих пункта, так как эти данные можно будет автоматически вставлять в нужную
          неделю модуля.
        </div>
        <div class="teacher-guide-page__text">Пункт “Содержание лабораторных занятий” - нажать на кнопку добавить и
          заполнить добавившуюся строку в исходной таблице.
        </div>
        <div class="teacher-guide-page__text">Уровни сформированности компетенций</div>
        <div class="teacher-guide-page__text">В пункте “Уровни сформированности компетенций” необходимо заполнить строки
          таблиц (ОПК-2 и ОПК-6) “Уровни сформированности компетенции”, “Содержательное описание уровня” “Результаты
          обучения” “Оценочные средства”.
        </div>
        <div class="teacher-guide-page__text">Пункт “Основная литература” - нажать на кнопку добавить и заполнить
          открывшееся окно.
        </div>
        <div class="teacher-guide-page__text">Пункт “Аудитории” - нажать на кнопку редактировать и отметить нужные
          аудитории.
        </div>
        <div class="teacher-guide-page__text">Пункт “Рецензент” - нажать на кнопку редактировать и ввести ФИО и
          должность рецензента.
        </div>
      </div>
    </div>

    <a routerLink="/teacher" class="teacher-guide-page__button">Назад</a>
</div>
