.layer {
  margin: 15px 0;
}

.header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin: 0 0 10px 0;
}

.header-title {
  display: table;
  margin: auto 0;
}

.semester-content-header {
  margin: 15px 0;
}

.semester-content__item {
  margin: 0 0 15px 0;
}

.semester-content {
  .mat-divider {
    border-top-color: rgb(0 0 0 / 21%);
    border-top-width: 2px;
  }
}
