.layer {
  margin: 15px 0;
}

.header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin: 0 0 10px 0;
}

.header-title {
  display: table;
  margin: auto 0;
}

.lectures-layer-content {
  .mat-table {
    width: 100%;
    text-align: center;
  }

  .mat-header-cell {
    text-align: center;
  }

  .form-control {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
}

.spinner {
  position: relative;
  margin: 30px;
}

.lectures-layer {
  min-height: 100px;
}

.spinner__wrapper {
  height: 85vh;
}
