<div class="more-information-page">
  <div class="more-information-page__container">
    <div class="more-information-page__text-block text-block">
      <div class="text-block__title">Как работает приложение?</div>
      <div class="text-block__body">
        <div class="text-block__text">
          В приложении есть три роли: преподаватель, заведующий кафедры и администратор.
        </div>
        <div class="text-block__text">
          При входе в роли преподавателя открывается страница с дисциплинами, которые закреплены за данным
          преподавателем. Их можно изменить либо скачать в формате .docx. При нажатии «изменить» открывается страница с
          боковым меню в котором указаны пункты рабочей программы, нажав на которые откроется этот пункт для его
          заполнения. Изменения в каждом пункте сохраняются вручную для удобства.
        </div>
        <div class="text-block__image">
          <picture>
            <source srcset="assets/img/more-information-page/first-image-800w.jpg" media="(max-width: 800px)">
            <img src="assets/img/more-information-page/first-image.jpg" alt="Flowers">
          </picture>
        </div>
        <div class="text-block__text">
          При входе в роли заведующего кафедрой открывается таблица с колонками «название дисциплины», «год подготовки»,
          «статус». Данные дисциплины завкафедры может закреплять за преподавателями своей кафедры и по колонке «статус»
          отслеживать процесс работы над ними.
        </div>
        <div class="text-block__image">
          <picture>
            <source srcset="assets/img/more-information-page/second-image-900w.jpg" media="(max-width: 900px)">
            <img src="assets/img/more-information-page/second-image.jpg" alt="Flowers">
          </picture>
        </div>
        <div class="text-block__text">
          При входе в роли администратора открывается таблица с колонками «ФИО» (три отдельных колонки), «должность»,
          «кафедра» и «доступ». В ней можно сгенерировать пароли для преподавателей либо изменить доступ с «Активный» на
          «Неактивный».
        </div>
        <div class="text-block__image">
          <picture>
            <source srcset="assets/img/more-information-page/third-image-900w.jpg" media="(max-width: 900px)">
            <img src="assets/img/more-information-page/third-image.jpg" alt="Flowers">
          </picture>
        </div>
      </div>
    </div>


    <a routerLink="/" class="more-information-page__button">На главную</a>
  </div>
</div>
